@font-face {
    font-family: 'Galano';
    src: url(GalanoGrotesqueBold.otf);
  }


:root{
    --colore: #000;
}


body{
    display: grid;
    background-color: rgb(247,247,250);
    grid-template-rows: 60px 1fr 100px 80px;
    justify-items: center;
    align-items: center;
    margin: 0px;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: auto;

}
.titolo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Galano';
    padding: 30px 20px 20px 20px;
    color: rgb(231, 231, 231);
    height: 20px;
    width: max-content;
    font-size: 30px;
    color: rgb(0,0,50);
    cursor: pointer;
    user-select: none;
}
.contenitore-impegni{
    display: flex;
    flex-direction: column;
}
.contenitore-impegno-singolo{
    display: flex;
    justify-content: space-between;
    scale: 0;
    height: 0;
    background-color: rgb(247,247,250);
    align-items: center;
    font-family: 'Galano';
    width: 80vw;
    cursor: pointer;
    border-radius: 18px;
    box-shadow:  5px 5px 7px #e8e8f0,
                 -5px -5px 7px #ffffff;
    transition: all 0.15s;
    color: rgb(47, 47, 139);
    font-size: 25px;
    overflow:hidden ;
    transition: all 0.3s;
}
.contenitore-impegno-singolo.active, .contenitore-impegno-singolo.del{

    scale:1;
    height: 80px;
    margin-bottom: 20px;

}
.contenitore-impegno-singolo.active.del::after{
    content: "Elimina";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: rgb(192, 41, 41);
    height: 80px;
    width: 80vw;
    border-radius: 18px;
    animation: scorri 0.5s ease-out;

}
.contenitore-impegno-singolo:hover{
    scale: 1.05;
}
.start{
    background-color: rgb(29, 151, 29);
    
    width: 60px;
    height: 40px;
    border-radius: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}
.end{
    margin-right: 20px;
    
    color: rgba(47, 47, 139, 0.664);
}
.pulsanti{
    display: flex;
    justify-content: center;
    align-items: center;
}
.piu{
    background-color: rgb(58, 108, 216);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    box-shadow:  0 0 25px rgb(0, 132, 255);
}
.pulsante:active{
    
    box-shadow:  inset 5px 5px 7px #e8e8f0,
                 inset -5px -5px 7px #ffffff;
}
img{
    height: 25px;
}
.navbar{
    position: fixed;
    bottom: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 400px 1fr;
    background-color: white;
    width: 100%;
}
.navbarinside{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding-bottom: 20px;
    height: 60px;
}
.imgscuolavuota{
    height: 32px;
}
.contimg{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px;
}
.tre{
    padding-bottom: 5px;
}
.imgcalendvuoto{
    height: 30px;
}
.muroblur{
    position: absolute;
    top: 0%;
    height: 120%;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    scale: 0;
    opacity: 0;
    transition: opacity 0.3s;
    overflow: hidden;
}
.muroblur.active{
    scale: 1;
    opacity: 1;
}
.contaggiunta{
    display: grid;
    justify-items: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    align-items: center;
    position: absolute;
    grid-template-rows: 30px 40px 50px 40px 50px min-content 40px 50px 1fr 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
    background-color: rgb(247, 247, 255);
    border-radius: 18px;
    z-index: 3;
    scale:0;
    box-shadow:  0px 0px 20px #00000018;
    font-family: 'Galano';
    color: rgb(22, 22, 73);
    font-size: 25px;
    overflow-y: auto;
}
.contaggiunta.active{
    scale: 1;
    animation: alza 1.5s ease-out 0.3s backwards;

}
.contcose{
    display: flex;
    gap: 20px;
}
.ContCosa{
    width: 60px;
    height: 40px;
    border-radius: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.i.active{
    scale: 1.1;
    box-shadow: 0 0 20px rgb(2, 255, 2);
    
    animation: iAnim 0.5s ease-out backwards;
}
.v.active{
    scale: 1.1;
    box-shadow: 0 0 20px yellow;
    animation: vAnim 0.5s ease-out backwards;
}
.contcosa.i{
    background-color: rgb(29, 151, 29);
}
.contcosa.v{
    background-color: rgb(202, 202, 38);
}
.fine{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(24, 57, 201);
    height: 40px;
    width: 80%;
    border-radius: 18px;
    color:white;
    cursor: pointer;
    justify-self: center;
}
.data{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 150px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(247, 247, 255);
    border-radius: 18px;
    box-shadow:  5px 5px 7px #e8e8f0,
                 -5px -5px 7px #ffffff;
    height: 20px;

}
.data input{
    background: none;
    border: none;
    width: 150px;
    cursor: pointer;

}
.contmateria{
    width: 200px;
    height: 30px;
    background-color: rgb(247, 247, 255);
    border-radius: 18px;
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    padding: 0 3px;
    box-shadow:  5px 5px 7px #e8e8f0,
                 -5px -5px 7px #ffffff;
                 cursor: pointer;
    font-size: 16px;
    padding-left: 15px;
    color: rgba(16, 16, 90, 0.281);
}
.imgfreccia{
    padding-top: 3px;
    height: 15px;
    transition: all 0.5s ease-out;
    transform: rotate(0deg);
}
.imgfreccia.active{
    transform: rotate(180deg);
}
.materie{
    position: relative;
    height: 0px;
    width: 200px;
    border-radius: 18px;
    background-color: red;
    padding: 0px 15px;
    background-color: rgb(247, 247, 255);
    box-shadow:  5px 5px 7px #e8e8f0,
                 -5px -5px 7px #ffffff;
    overflow: hidden;
    transition: height 0.5s ease-out;
}
.materie.active{
    height: 360px;
}
#materia1{
    padding-top: 10px;
}
#materia14{
    padding-bottom: 10px;
}
.materia{
    font-size: 18px;
    cursor: pointer;
    color: rgba(11, 11, 109, 0.76);
}
.materia:hover, .materia:active{
    background-color: rgba(128, 128, 128, 0.164);
}
@keyframes alza {
    from{
        opacity: 0;
        transform: translate(-50%, 0%);
    }

    to{
        opacity: 1;
        
        transform: translate(-50%, -50%);
    }
    
}
@keyframes iAnim {

    from{
        scale: 1;
        box-shadow: none;
    }

    to{
        scale: 1.1;
    box-shadow: 0 0 20px rgb(2, 255, 2);
    }
    
}
@keyframes vAnim {

    from{
        scale: 1;
        box-shadow: none;
    }

    to{
        scale: 1.1;
        box-shadow: 0 0 20px yellow;
    }
    
}
@keyframes scorri {
    from{
        left: 80vw;
    }

    to{
        left: 0;
    }
    
}