@font-face {
    font-family: 'Galano';
    src: url(GalanoGrotesqueBold.otf);
}

:root{
    --barrawidth: 30px;
}


body{
    display: flex;
    background-color: rgb(247,247,250);
    justify-content: center;
    align-items: center;
    margin: 0px;
    
    grid-template-rows: 3fr 70px 1fr 30px 1fr 60px;
    background-image: url(sfondofede.PNG);
    background-size: 100%;

    user-select: none;
}



img{
    height: 25px;
}
.navbar{
    position: fixed;
    bottom: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 400px 1fr;
    background-color: white;
    width: 100vw;
}
.navbarinside{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding-bottom: 20px;
    height: 60px;
}
.imgcuore{
    filter: drop-shadow(0 0 10px rgba(200, 255, 0, 0.342));
}
.imgscuolavuota{
    height: 32px;
}
.contimg{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px;
}
.tre{
    padding-bottom: 5px;
}

.scritta{
    font-family: 'Galano';
    display: grid;
    grid-template-rows: 70px 70px ;
    justify-content: center;
    padding-left: 15px;
    width: 300px;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.664));
}

.numeri{
    display: grid;
    grid-template-columns: 90px 90px 90px 90px ;
    align-items:self-end;
    font-size: 50px;
    
}

.lettere{
    
    display: grid;
    grid-template-columns: 90px 90px 90px 90px ;

    
}

#days{
    
    animation: deblur 1.5s ease-out 1s;
    animation-fill-mode: backwards;
}

#hours{
    
    animation: deblur 1.5s ease-out 1.15s ;
    animation-fill-mode: backwards;
}
#minutes{
    
    animation: deblur 1.5s ease-out 1.3s ;
    animation-fill-mode: backwards;
}
#seconds{
    
    animation: deblur 1.5s ease-out 1.45s ;
    animation-fill-mode: backwards;
}

.giorni{
    animation: deblur 1.5s ease-out 1.6s ;
    animation-fill-mode: backwards;
}

.ore{
    
    animation: deblur 1.5s ease-out 1.75s ;
    animation-fill-mode: backwards;
}

.minuti{
    animation: deblur 1.5s ease-out 1.9s ;
    animation-fill-mode: backwards;

}

.secondi{
    
    animation: deblur 1.5s ease-out 2.05s ;
    animation-fill-mode: backwards;
}

.barra{
    display: flex;
    align-items: start;
    position: absolute;
    top: 60%;
    width: 300px;
    overflow: hidden;
  background-color: #ffffff05;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  height: 20px;
  border-radius: 50px;
  box-shadow:  6px 6px 12px #16161648,
             -6px -6px 12px #ffffff25;

             
    animation: deblur 1.5s ease-out 2.35s ;
    animation-fill-mode: backwards;
}

.piena{
    height: 20px;
    width: var(--barrawidth);
    background-color: rgba(81, 110, 187, 0.61);
    border-radius: 50px;
    
    animation: allargabarra 1.5s ease-out 4s ;
    animation-fill-mode: backwards;

}


#percentuale{

    display: flex;
    font-family: 'Galano';
    align-items: center;
    justify-content: center;
    width: 300px;
    color: rgb(229, 255, 0);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.212));


    position: absolute;
    top: 55%;
    animation: deblur 1.5s ease-out 2.2s ;
    animation-fill-mode: backwards;
}


@keyframes deblur {
    from{
        opacity: 0%;
        filter:blur(8px);
    }
    to{
        opacity: 100%;
        
        filter:blur(0px);
    }
}

@keyframes allargabarra {

    0%{
        width: 0px;
    }

    100%{
        width: var(--barrawidth);
    }
    
}