@font-face {
    font-family: 'Galano';
    src: url(GalanoGrotesqueBold.otf);
}
body{
    background-color: rgb(247,247,250);
    display: grid;
    grid-template-rows: 1fr 300px 1fr;
    
    margin: 0;
    
}
.divbottoni{
    display: grid;
    justify-items: center ;
    gap: 27px;
    align-items: center;
}
.pulsante{


    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    border: none;
    width: 300px;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow:  0 10px 60px rgba(0, 0, 0, 0.15);
    align-items: center;
    transition: all 0.15s ease-out;
    color: rgb(10, 10, 30);
    align-items: center;
    justify-items: center;
}
.butbut{
    
    background-color: rgb(255, 255, 255);
    border-color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Galano', Helvetica,Arial,sans-serif;
    color: rgb(10, 10, 30);
    cursor: pointer;
}

img{
    height: 30px;

}
.img1{
    position: relative;
    right: -60%;
}
.img2{
    position: relative;
    right: -60%;
}
.img3{
    position: relative;
    right: 0%;
}
.pulsante:hover{
    font-size: 23px;
    width: 320px;
    height: 60px;
    box-shadow: 0 10px 60px  rgba(0, 68, 255, 0.219);
}
.pulsante:active{
    font-size: 23px;
    width: 320px;
    height: 60px;
    box-shadow: 0 10px 60px  rgba(0, 68, 255, 0.219);
}
.divtitolo{
    display: grid;

    /*vuoto sopa il titolo, titolo, spazio tra titolo e pulsanti*/
    grid-template-rows: 1fr 30px 50px;
    justify-items: center;
}
.titolo{
    font-family: 'Galano', Helvetica,Arial,sans-serif;
    font-size: 35px;
    color: rgb(10, 10, 30);

}
.divfreccia{
    justify-self: end;
    padding-right: 20px;
}
.uno{
    animation: salita 1.5s ease-out ;
}
.due{
    animation: salita 1.5s ease-out 0.3s ;
    animation-fill-mode: backwards;
}
.tre{
    animation: salita 1.5s ease-out 0.6s ;
    animation-fill-mode: backwards;
}
@keyframes salita {
    from{
        transform: translateY(100px);
        opacity: 0%;
    }
    to{
        transform: translateY(0px);
        opacity: 100%;
    }
}

.spaziohome{
    display: grid;
    grid-template-rows: minmax(20px, 1fr) 50px;
    justify-items: center;
    align-items: center;
    padding-bottom: 20px;
}

