@font-face {
  font-family: 'Galano';
  src: url(font/GalanoGrotesqueBold.otf);
}
@font-face {
  font-family: 'SF';
  src: url(font/SF-Pro-Display-Bold.ttf);
}
@font-face {
  font-family: 'SFReg';
  src: url(font/SF-Pro-Display-Regular.ttf);
}
:root{
  --quad: 200px;
  --quadactive: 250px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: all 1s;
  user-select: none;
  overflow-x: hidden;
  -webkit-overflow: hidden;
}
.box{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 250px;
  margin-top: 200px;
  translate: 125px 0;
  transition: all 0.6s ease;
} 
.lista{
  font-family: 'SF';
  color: rgb(255, 255, 255);
  gap: 5px;
  align-self: flex-start;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s ease;
  overflow: hidden;

}
.listaf{
  width: 200px;
  height: fit-content;
  translate: 0 20px;
}
.listas{
  width: 0;
  translate: 0 -170px;
  padding: 0;
}
.lista div{
  cursor: pointer;
  background-color: #333333;
  padding: 5px 10px;
  border-radius: 5px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: all 0.6s ease;
}
.quadrato{
  width: var(--quad);
  height: var(--quad);
  border-radius: 25px;
  transition: all 0.6s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'SF';
  font-size: 400%;
  color: white;
  z-index: 100;
}
.quadrato.boxF{
  width:var(--quadactive);
  height: var(--quadactive);
  background-color: #f1a43c;
}
.quadrato.boxS{
  background-color: #333333;
}



body.a2 .quadrato.boxF{
  width: var(--quad);
  height: var(--quad);
  background-color: #333333;
}
body.a2 .quadrato.boxS{
  width: var(--quadactive);
  height: var(--quadactive);
  background-color: #f1a43c;
}
body.a2 .listaf{
  width: 0;
  translate: 0 -170px;

  padding: 0 0;
}
body.a2 .listas{
  top: calc(42% + 220px);
  width: 200px;
  translate: 0 20px;
  padding: 10px 15px;
}
body.a2 .listas div{
  translate: 0 0;
}


body.a2 .box{
  
  translate: -125px 0;
}

.trian{
  position: absolute;
  left: 50%;
  top: 0%;
  translate: -50% 0;
}


