@font-face {
  font-family: 'Galano';
  src: url(../font/GalanoGrotesqueBold.otf);
}
@font-face {
  font-family: 'SF';
  src: url(../font/SF-Pro-Display-Bold.ttf);
}
@font-face {
  font-family: 'SFReg';
  src: url(../font/SF-Pro-Display-Regular.ttf);
}


body{
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'SF';
  font-size: 30px;
}
.box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
#email, #password{
  font-family: 'SF';
  width: 80vw;
  border: none;
  border-radius: 17px;
  box-shadow: inset 4px 4px 5px #f1a43c;
  height: 60px;
  background-color: #f1a43c;
  -webkit-appearance: none;
  padding: 10px;
  color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.178);
  font-size: 25px;
  text-align: center;
}
#myInput:focus{
  outline: none;
  caret-color: white;
}
.redtext{
  color:red;
  font-size: 15px;
  justify-self:center;
}
