@font-face {
  font-family: 'Galano';
  src: url(font/GalanoGrotesqueBold.otf);
}

@font-face {
  font-family: 'SF';
  src: url(font/SF-Pro-Display-Bold.ttf);
}

@font-face {
  font-family: 'SFReg';
  src: url(font/SF-Pro-Display-Regular.ttf);
}:root {
  --a: 320px;
  --b: 28px
}.scheda {
  display: grid;
  background-color: rgb(193, 193, 193);
  background-color: #eff1ff;
  height: auto;
  width: calc(var(--a) - 20px);
  gap: 3px;
  border-radius: var(--b);
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.201));
  transform-origin: center;
  scale: 0.8;
  transition: scale 0.5s ease-out;
  overflow: hidden;
}#mainbox {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}#mainbox> :first-child {
  margin-left: calc((100vw - var(--a)) / 2);
}.scheda.a {
  scale: 1;
}.last {
  height: 100vh;
  width: calc((100vw - var(--a)) / 2);


  flex: 0 0 calc((100vw - var(--a)) / 2);
  scroll-snap-align: center;
}.c {
  height: 100vh;
  width: var(--a);

  flex: 0 0 var(--a);
  scroll-snap-align: center;
}.center,.c,.r,.ri,.m,.o {

  display: flex;
  align-items: center;
  justify-content: center;

}body {
  background-color: #eff1ff;
  margin: 0;
  overflow: hidden;
}.r,.ri,.f{
  display: flex;
  height: 65px;
}.r {
  background-color: white;
}.ri {
  background-color: rgb(40, 84, 39);
  color: white;
}.o {
  width: 100px;
}.m {
  flex: 1;
}* {
  font-family: 'SF';
  font-size: 20px;
}::-webkit-scrollbar {
  display: none;
}.f{
  width: 200px;
  background-color: white;
  position: absolute;
  z-index: -1;
  top: 68px;
}