@font-face {
  font-family: 'Galano';
  src: url(font/GalanoGrotesqueBold.otf);
}
@font-face {
  font-family: 'SF';
  src: url(font/SF-Pro-Display-Bold.ttf);
}
@font-face {
  font-family: 'SFReg';
  src: url(font/SF-Pro-Display-Regular.ttf);
}


body.first{
  background-color: #000000;
  color: white;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: 'SF';
  font-size: 30px;
  grid-template-rows: 1fr;
}
body{
  font-family: 'SF';
  background-color: #000000;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  user-select: none;
}
#impinput, #datainput{
  font-family: 'SF';
  width: 150px;
  border: none;
  border-radius: 17px;
  box-shadow: inset 4px 4px 5px #f1a43c;
  height: 60px;
  background-color: #f1a43c;
  -webkit-appearance: none;
  padding: 10px;
  color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.178);
}
#impinput{
  font-size: 17px;
}
#impinput:focus{
  outline: none;
  caret-color: white;
}
#datainput{
  font-family: 'SF';
  width: 130px;
  cursor: pointer;
}
#box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: calc(10px + 1vw);
  font-size: 17px;
}
.boximpegno{
  
  display: grid;
  width: 69vw;
  background-color: #333333;
  border-radius: 18px;
  max-width: 525px;
  cursor: pointer;
  height: min-content;
  color: white;
  background-color: black;
  border-radius: 18px;
  overflow: hidden;
  min-width: 330px;
}
body.mobile .boximpegno{
  overflow: auto;
  grid-auto-flow: column;
  overflow: scroll;
  scroll-snap-type: x proximity;
  scroll-snap-stop: always;
  scrollbar-width: none;
}

body.mobile .boximpegno::-webkit-scrollbar{
  display: none;
}
.impegnosingolo{
  display: grid;
  width: 70vw;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #333333;
  max-width: 525px;
  cursor: pointer;
  height: min-content;
  color: white;
  transition: all 0.15s;
  border-radius: 18px 0 0 18px;
  padding: 20px 0px 20px 0px;
  min-width: 330px;
}
body.mobile .impegnosingolo{
  scroll-snap-align: start;
}

body.mobile .del{
  background-color: #ea4e3d;
  scroll-snap-align: end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-radius: 0 18px 18px 0;
}
.impegnosingolo.el{
  background-color: #ea4e3d;
}
.distanzaimpegno{
  padding-right: 20px;
}
.distanzaimpegno, .dataimpegno{
  display: flex;
  align-items: center;
  justify-content: center;
}
#boxboxinput{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#boxinput{  
  background-color: #f1a43c;
  box-shadow: 0 0 40px #f1a33c63 ;
  border-radius: 28px;
  width: 300px;
  margin: 30px 0;
  height: 90px;
  padding: 0 15px ;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scrittaimpegno{
  padding-left: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.esci{
  display: flex;
  justify-content: center;
  color: #ea4e3d;
  font-family: 'SFReg';
  margin: 15px;
  cursor: pointer;
}

@keyframes muovi {
  0%{
    margin-left: 0;
  }  
  50%{
    margin-left: 100px;
  } 
  100%{
    margin-left: 0;
  } 
}