
@font-face {
  font-family: 'SF';
  src: url(../font/SF-Pro-Display-Bold.ttf);
}
body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  font-family: 'SF';
  color: white;
}
.titolo{
  font-size: 30px;
}
.nuovotitolo{
  width: 80vw;
  max-width: 500px;
  height: 40px;
  border: none;
  border-radius: 18px; 
  padding: 10px;
  font-family: 'SF';
  text-align: center;
  font-size: 20px;
  background-color: #f1a43c;
  color: white;
}
.nuovotitolo:focus{
  outline: none;
  caret-color: white;
}