@font-face {
  font-family: 'Galano';
  src: url(font/GalanoGrotesqueBold.otf);
}
@font-face {
  font-family: 'SF';
  src: url(font/SF-Pro-Display-Bold.ttf);
}
@font-face {
  font-family: 'SFReg';
  src: url(font/SF-Pro-Display-Regular.ttf);
}

body, .boxbody, #boxrisposte{
  font-family: 'SF';
  gap: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
body{
  background-color: rgb(110, 149, 223);
}
input{
  font-family: 'SF';
  padding: 10px 15px;
  border-radius: 18px;
}

input, input:focus{
  outline: none;
  border: none;
}