@font-face {
  font-family: 'Galano';
  src: url(font/GalanoGrotesqueBold.otf);
}
@font-face {
  font-family: 'SF';
  src: url(font/SF-Pro-Display-Bold.ttf);
}
@font-face {
  font-family: 'SFReg';
  src: url(font/SF-Pro-Display-Regular.ttf);
}


:root{
  --colore: #000;
}


body{
  display: grid;
  background-color: rgb(247,247,250);
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  align-items: center;
  margin: 0px;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: scroll;

}
.titolo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Galano';
  padding: 30px 20px 20px 20px;
  color: rgb(231, 231, 231);
  height: 20px;
  width: max-content;
  font-size: 30px;
  color: rgb(0,0,50);
  cursor: pointer;
  user-select: none;
}
.contenitore-impegni{
  display: flex;
  flex-direction: column;
}
.c{

  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  white-space: nowrap;

  width: 80vw;
  
  height: 80px;
}
.bb{
  display: grid;
  height: fit-content;
  margin-bottom: 20px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow:  5px 5px 7px #e8e8f0,
               -5px -5px 7px #ffffff;
}
.sfondo-gradiente {
  position:fixed;
  height: 30px;
  width: 100%;
  top: 0;  
  background-color: rgb(247, 247, 250); /* Colore di fallback */
  /* Utilizza un gradiente lineare con un angolo di 90 gradi da rgb(247, 247, 250) a trasparente */
  background: linear-gradient(to bottom, rgba(247, 247, 250, 1), rgba(247, 247, 250, 0));
  z-index: 2;

}

.delete{
  flex: 0 0 100px;
  scroll-snap-align: end;
  background-color: #ea4e3d;
z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  border-radius: 0 18px 18px 0;
}
.nota{
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
  transition: all 0.15s;
}
.nota.open{
  height: 50px;
}
::-webkit-scrollbar {
  display: none;
}
.contenitore-impegno-singolo{
  display: flex;
  justify-content: space-between;
  background-color: rgb(247,247,250);
  align-items: center;
  font-family: 'Galano';
  cursor: pointer;
  width: 80vw;
  flex: 0 0 100%;
  scroll-snap-align: center;
  transition: all 0.15s;
  color: rgb(47, 47, 139);
  font-size: 25px;
  overflow:hidden ;
  height: 80px;
  transition: all 0.3s;
  
z-index: 1;
}
.start,.center,.end{
  pointer-events: none;
}
.bg{
  position: absolute;
  width: 80vw;
  height: 80px;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.contenitore-impegno-singolo.el{
  background-color: #ea4e3d;
  color: white;
}
.contenitore-impegno-singolo.el .start{
  background-color: transparent;
}
.contenitore-impegno-singolo.el .end{
  color: white;
}
.contenitore-impegno-singolo:hover{
  scale: 1.05;
}

#contimpegni{
  font-family: 'SF';
  color: rgba(0, 0, 0, 0.349);
}
.start{
  
  width: 60px;
  height: 40px;
  border-radius: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
  transition: all 0.3s;
}
.start.I{
  
  background-color: rgb(29, 151, 29);
}
.start.V{
  background-color: rgb(202, 202, 38);

}
.end{
  margin-right: 20px;
  transition: all 0.3s;
  
  color: rgba(47, 47, 139, 0.664);
}
.pulsanti{
  display: flex;
  justify-content: center;
  align-items: center;
}
.piu{
  background-color: rgb(58, 108, 216);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  box-shadow:  0 0 25px rgb(0, 132, 255);
}
.pulsante:active{
  
  box-shadow:  inset 5px 5px 7px #e8e8f0,
               inset -5px -5px 7px #ffffff;
}
img{
  height: 25px;
}
.navbar{
  position: fixed;
  bottom: 0%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 400px 1fr;
  background-color: white;
  width: 100%;
}
.navbarinside{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding-bottom: 20px;
  height: 60px;
}
.imgscuolavuota{
  height: 32px;
}
.contimg{
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 15px;
}
.tre{
  padding-bottom: 5px;
}
.imgcalendvuoto{
  height: 30px;
}
.muroblur{
  position: absolute;
  top: 0%;
  height: 120%;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  scale: 0;
  opacity: 0;
  transition: opacity 0.3s;
  overflow: hidden;
}
.muroblur.active{
  scale: 1;
  opacity: 1;
}
.contaggiunta{
  display: grid;
  justify-items: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  align-items: center;
  position: absolute;
  grid-template-rows: 30px 40px 50px 40px 50px min-content 40px 50px 40px 50px 1fr 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  background-color: rgb(247, 247, 255);
  border-radius: 18px;
  z-index: 3;
  scale:0;
  box-shadow:  0px 0px 20px #00000018;
  font-family: 'Galano';
  color: rgb(22, 22, 73);
  font-size: 25px;
  overflow-y: auto;
}
.contaggiunta.active{
  scale: 1;
  animation: alza 1.5s ease-out 0.3s backwards;

}
.contcose{
  display: flex;
  gap: 20px;
}
.ContCosa{
  width: 60px;
  height: 40px;
  border-radius: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.i.active{
  scale: 1.1;
  box-shadow: 0 0 20px rgb(2, 255, 2);
  
  animation: iAnim 0.5s ease-out backwards;
}
.v.active{
  scale: 1.1;
  box-shadow: 0 0 20px yellow;
  animation: vAnim 0.5s ease-out backwards;
}
.contcosa.i{
  background-color: rgb(29, 151, 29);
}
.contcosa.v{
  background-color: rgb(202, 202, 38);
}
.fine{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(24, 57, 201);
  height: 40px;
  width: 80%;
  border-radius: 18px;
  color:white;
  cursor: pointer;
  justify-self: center;
}
.data, .notec{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 150px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  background-color: rgb(247, 247, 255);
  border-radius: 18px;
  box-shadow:  5px 5px 7px #e8e8f0,
               -5px -5px 7px #ffffff;
  height: 20px;

}
.data input, #notei{
  background: none;
  border: none;
  width: 150px;
  cursor: pointer;
  font-family: 'SFReg';
}
#notei{
  border: none;

}
#notei:focus{
  outline: none;
}
.contmateria{
  width: 200px;
  height: 30px;
  background-color: rgb(247, 247, 255);
  border-radius: 18px;
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: center;
  padding: 0 3px;
  box-shadow:  5px 5px 7px #e8e8f0,
               -5px -5px 7px #ffffff;
               cursor: pointer;
  font-size: 16px;
  padding-left: 15px;
  color: rgba(16, 16, 90, 0.281);
}
.imgfreccia{
  padding-top: 3px;
  height: 15px;
  transition: all 0.5s ease-out;
  transform: rotate(0deg);
}
.imgfreccia.active{
  transform: rotate(180deg);
}
.materie{
  position: relative;
  height: 0px;
  width: 200px;
  border-radius: 18px;
  background-color: red;
  padding: 0px 15px;
  background-color: rgb(247, 247, 255);
  box-shadow:  5px 5px 7px #e8e8f0,
               -5px -5px 7px #ffffff;
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.materie.active{
  height: 347px;
  padding: 7px 14px;
}
.materia{
  font-family: 'SF';
  height: 25px;
  font-size: 18px;
  cursor: pointer;
  color: rgba(11, 11, 109, 0.76);
}
.materia:hover, .materia:active{
  background-color: rgba(128, 128, 128, 0.164);
}
@keyframes alza {
  from{
      opacity: 0;
      transform: translate(-50%, 0%);
  }

  to{
      opacity: 1;
      
      transform: translate(-50%, -50%);
  }
  
}
@keyframes iAnim {

  from{
      scale: 1;
      box-shadow: none;
  }

  to{
      scale: 1.1;
  box-shadow: 0 0 20px rgb(2, 255, 2);
  }
  
}
@keyframes vAnim {

  from{
      scale: 1;
      box-shadow: none;
  }

  to{
      scale: 1.1;
      box-shadow: 0 0 20px yellow;
  }
  
}
@keyframes scorri {
  from{
      left: 80vw;
  }

  to{
      left: 0;
  }
  
}