@font-face {
  font-family: 'Galano';
  src: url(font/GalanoGrotesqueBold.otf);
}
@font-face {
  font-family: 'SF';
  src: url(font/SF-Pro-Display-Bold.ttf);
}
@font-face {
  font-family: 'SFReg';
  src: url(font/SF-Pro-Display-Regular.ttf);
}

:root{
  --size:150px;
}

body{
  background-color: black;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-items: center;
  justify-items: center;
}

.titolo{
  color: white;
  font-family: 'SF';
  font-size: 30px;
  margin: 10px 0 20px 0;
}
.boxlista{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  color: grey;
  font-family: 'SF';
  text-align: center;
}
.elLista{
  font-size: 20px;
  height: var(--size);
  width: var(--size);
  background-color: #333333;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'SF';
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
}
.contenuto {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.esci{
  font-family: 'SFReg';
  color: #ea4e3d;
  margin: 0 0 10px 0;
  cursor: pointer;
}
.el{
  background-color: red;
}
#piu{
  background-color: #33333359;
  font-size: 50px;
}