@font-face {
  font-family: 'Galano';
  src: url(font/GalanoGrotesqueBold.otf);
}
@font-face {
  font-family: 'SF';
  src: url(font/SF-Pro-Display-Bold.ttf);
}
@font-face {
  font-family: 'SFReg';
  src: url(font/SF-Pro-Display-Regular.ttf);
}

body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;


}
.label{
  color: white;
  font-family: 'SF';
}

#boximg{
  border-radius: 18px;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  position: relative;
}
img{
  object-fit: cover;

}