@font-face {
    font-family: 'Galano';
    src: url(GalanoGrotesqueBold.otf);
}

body{
    display: grid;
    background-color: rgb(247,247,250);
    justify-items: center;
    margin: 0px;
    

    /* spazio su meno gap,titoli, inputs, bottoneinvia, fr, tabella1, fr, obiettivi, vuoto, navbar*/
    grid-template-rows: 0px 30px 50px 40px 1fr 60px 1fr 270px 2fr 80px 1fr 60px;

    gap: 10px;
}
.titoli{
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    font-family: 'Galano';
    font-size: 25px;
    color: rgb(10, 10, 50);
    animation: salita 1.5s ease-out ;
    animation-fill-mode: backwards;
}
.inputs{
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    
    animation: salita 1.5s ease-out 0.1s ;
    animation-fill-mode: backwards;
}
input{
    font-family: 'Galano';
    border: none;
    border-radius: 30px;
    font-size: 30px;
    max-width: 100px;
    padding-left: 15px;
    box-shadow:  0 10px 60px rgba(0, 0, 0, 0.15);
}
input:active{
    border-radius: 0px;
}

.bottoneinvia{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(45, 45, 250);
    font-family: 'Galano';
    border: none;
    border-radius: 18px;
    font-size: 20px;
    padding: 2px;
    box-shadow:  0 10px 60px rgba(0, 0, 0, 0.15);
    color: white;
    width: 210px;
    cursor: pointer;
    transition: 0.2s;
    
    animation: salita 1.5s ease-out 0.2s ;
    animation-fill-mode: backwards;
}

.bottoneinvia:hover{
    background-color: rgb(45, 45, 200);
}

.bottoneinvia:active{
    background-color: rgb(45, 45, 150);

}

.tabella1{
    
    display: grid;
    width: 260px;
    background-color: white;
    border-radius: 15px;
    box-shadow:  0 10px 60px rgba(0, 0, 0, 0.15);
    font-family: 'Galano';
    grid-template-rows: 30px 1px 30px;
    
    animation: salita 1.5s ease-out 0.3s ;
    animation-fill-mode: backwards;
}
.tabella2{
    
    display: grid;
    width: 260px;
    background-color: white;
    border-radius: 15px;
    box-shadow:  0 10px 60px rgba(0, 0, 0, 0.15);
    font-family: 'Galano';
    grid-template-rows: 30px 1px 30px 1px 30px 1px 30px;
    
    animation: salita 1.5s ease-out 0.6s ;
    animation-fill-mode: backwards;
}


.tabella3{
    
    display: grid;
    width: 260px;
    background-color: white;
    border-radius: 15px;
    box-shadow:  0 10px 60px rgba(0, 0, 0, 0.15);
    font-family: 'Galano';
    grid-template-rows: 30px 1px 30px 1px 30px 1px 30px;
    
    animation: salita 1.5s ease-out 0.6s ;
    animation-fill-mode: backwards;
}

.linea{
    display: grid;
    grid-template-columns: 1fr 15fr;
}

.lineadx{
    background-color: rgb(221, 221, 221);
}

.riga{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.rigasx{
    display: grid;
    justify-self:left;
    padding-left: 16px;
}

.rigadx{
    display: grid;
    justify-self: end;
    padding-right: 16px;
    color: rgb(114, 114, 114);
}

.Obiettivi{
    display: grid;
    justify-items: center;
    /*tabella2, spazio, tabella 3*/
    grid-template-rows: 1fr 30px 1fr;
    align-items: center;
}

.riga23{
    display: grid;
    justify-items: center;
    background-color: rgb(0, 156, 0);
    align-items: center;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.riga24{
    display: grid;
    justify-items: center;
    background-color: rgb(182, 202, 0);
    align-items: center;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.aszmaterie{
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.192));
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 20px;
    
    
    animation: salita 1.5s ease-out 0.9s ;
    animation-fill-mode: backwards;
}

.aszmaterie img{
    height: 40px;
}


.navbar{
    position: fixed;
    bottom: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 400px 1fr;
    background-color: white;
    width: 100vw;
}

.navbarinsidedivimg{
    height: 25px;

}

.navbarinside{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding-bottom: 20px;
    height: 60px;
}
.imgscuola{
    height: 32px;
}
.contimg{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px;
}
.tre{
    padding-bottom: 5px;
}


@keyframes salita {
    from{
        transform: translateY(100px);
        opacity: 0%;
    }
    to{
        transform: translateY(0px);
        opacity: 100%;
    }
}