@font-face {
  font-family: 'SF';
  src: url(https://fedespada.com/font/SF-Pro-Display-Bold.ttf);
}
@font-face {
  font-family: 'Bebas';
  src: url(https://fedespada.com/font/Bebas.ttf);
}

:root{
  --size: 130px
}

body{
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
  
}
#mb{
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.ab{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 350px;
}
svg{
  cursor: pointer;
}
#csvg{
  display: flex;
  align-items: center;
}
#volume{
  width: 150px;
  height: 20px;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  padding : 3px black;
}

#a, #b{
  height: 20px;
  width: 150px;
}
#c{
  display: flex;
}
::-webkit-scrollbar{
  display: none;
}
#a{background-color: white;
}
#b{
  background-color: black;
}
.app{
  width: 70%;
  height: min-content;
  border-radius: 18px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
img{
  width: 100%;
  pointer-events: none;
}