@font-face {
  font-family: 'SF';
  src: url(https://fedespada.com/font/SF-Pro-Display-Bold.ttf);
}
:root{
  --ms:0.24;
}
#gm{
  font-size: 40px;
  font-family: 'SF';
  width: fit-content;
  justify-self: center;
  color: white;
}
body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.s1{
  height: calc(159px * var(--ms));
  width: calc(261px * var(--ms));
  background-color: #e6e6e6;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.5s;
  cursor: pointer;
}
.s3{
  height: calc(143px * var(--ms));
  width: calc(143px * var(--ms));
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0px 1px 8.4px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease-out;
  pointer-events: none;
  
  transform: translate(calc(6px * var(--ms)),0);
}
.s1.active, .s1.active .s2{
  background-color: #4cd864;
}
.s1.active .s3{
  
  transform: translate(calc(110px * var(--ms)),0);
}
.f3{
  display: grid;
  align-items: center;
  justify-items: center;
}
#sabati{
  font-family: 'SF';
  opacity: 0.3;
  user-select: none;
}
svg{
  position: absolute;
  z-index: -1;
}
#svgbox{
  z-index:-1;
  position:absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}