@font-face {
  font-family: 'Galano';
  src: url(GalanoGrotesqueBold.otf);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: #ffffff05;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 280px;
  height: 360px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 30px;
  box-shadow:  6px 6px 12px #16161648,
             -6px -6px 12px #ffffff25;
}

.titolo{
  position: relative;
  top: -10%;
  font-size: 40px;
  font-family: 'Galano';
  overflow: hidden;
  color: white;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.336));
  user-select: none;
}
.uno{
  display: flex;
  background-color: rgb(90, 90, 90);
  translate: 20px;
}

.pulsanti{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
img{
  padding: 0 25px;
  cursor: pointer;
}
.si{
  display: flex;
  height: 70px;
  width: 70px;
  border-radius: 14px;
  box-shadow:  6px 6px 12px #161616a6,
             -6px -6px 12px #ffffff4b;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  }
.no{ 
  height: 70px;
  width: 70px;
  border-radius: 14px;
  box-shadow:  6px 6px 12px #161616a6,
             -6px -6px 12px #ffffff4b;
  cursor: pointer;

  
  display: flex;
  justify-content: center;
  align-items: center;
}

svg{
  fill: rgba(255, 255, 255, 0.815);
}

span{
  width: 40px;
}

.si.active{
  animation: gonfia 0.3s ease-out;
}
.no.active{
  animation: gonfia 0.3s ease-out;
}

.x{
  height: 63px;
  transform: translateY(6px);
}

.sfondo{
  position: absolute;
  z-index: -5;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  align-self: center;
  background-repeat: no-repeat;
  background-image: url(pexels-eberhard-grossgasteiger-12366058.jpg);

}

@keyframes gonfia {
  0%{
    box-shadow:  6px 6px 12px #161616a6,
               -6px -6px 12px #ffffff4b;
  }
  10%{
    box-shadow: none;
  }
  
  20%{
    box-shadow:  inset 6px 6px 12px #161616a6,
    inset -6px -6px 12px #ffffff4b;
  }

  80%{
    box-shadow:  inset 6px 6px 12px #161616a6,
    inset -6px -6px 12px #ffffff4b;
  }

  90%{
    box-shadow: none;
  }

  100%{
    box-shadow:  6px 6px 12px #161616a6,
               -6px -6px 12px #ffffff4b;
  }
}


